#{extends 'main.html' /}
#{set title:'Formulario' /}





<div class="container">
       <div class="row justify-content-center">
           <div class="col-md-4">
               <div class="card shadow-lg p-4">
                   <h1 class="text-center text-primary">Login</h1>
                   <form id="loginForm" action = "/pessoas/salvar">
                           <input type="hidden"  name = "pessoa.id" value= "${pessoa?.id}">
                       <div class="mb-3">
                           <label for="email" class="form-label">Nome</label>
                           <input type="Text"  name = "pessoa.nome" value= "${pessoa?.nome}" id="email" class="form-control" placeholder="Digite seu Nome">
                       </div>
                       <div class="mb-3">
                           <label for="password" class="form-label">Email</label>
                           <input type="text" name ="pessoa.email"value= "${pessoa?.email}" id="password" class="form-control" placeholder="Digite seu Email">
                       </div>
					   <div class="mb-3">
					   		<label class="form-label">Data de Nascimento:</label>
					   		<input class="form-control" type="date"
					   			name="pessoa.dataNascimento" value="${pessoa?.dataNascimento}" />
					   	</div>
						<div class="mb-3">
								<label class="form-label">Departamento:</label>
								<select class="form-select" name="pessoa.departamento.id">
									#{list items:departamentos, as:'d'}
										<option value="${d.id}"> 
											${d.id == pessoa?.departamento.id ? 'selected' : ''}>
												${d.nome}
										 </option>
									#{/list}
								</select>
							</div>
                     
                           
                       </div>
                       <button type="submit" class="btn btn-primary w-100">Login</button>
                   </form>
               </div>
           </div>
       </div>
   </div>